:root {
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Colour ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    --veryVarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --gayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Gap ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --gap0-5: 0.5rem;
    --gap1: 1rem;
    --gap1-5: 1.5rem;
    --gap2: 2rem;
    --gap3: 3rem;
    --gap4: 4rem;
    --gap5: 5rem;

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Size ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --sizeIcon: 1.25rem;
    --sizeIconBig: 2.5rem;
    // Previewer
    --sizePreviewer: 500px;
    --sizePreviewerPlaylist: 400px;

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Z Index ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --zIndexHeader: 2;
    --zIndexNav: 2;
    --zIndexCart: 1;
    --zIndexPreviewerModal: 3;
}
